<header>
    <div id="header-logo">
        <img src="assets/logo.png" />
    </div>
    <div id="header-menu">
        <ul id="menu">
            <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./']">Home</a>
            </li>
            <ng-container *ngIf="!profileService.user">
                <li><a routerLinkActive="active" [routerLink]="['./account/login']">Login</a></li>
                <li><a routerLinkActive="active" [routerLink]="['./account/register']">Register</a></li>
            </ng-container>
            <ng-container *ngIf="profileService.user">
                <li><a routerLinkActive="active" [routerLink]="['/positions/']">Positions</a></li>
                <ng-container *ngIf="profileService.user.role=='employee'">
                    <li><a routerLinkActive="active" [routerLink]="['./resume']">Resume</a></li>
                </ng-container>
                <ng-container *ngIf="profileService.user.role=='manager'">
                    <li><a routerLinkActive="active" [routerLink]="['./post']">Posts</a></li>
                </ng-container>
                <li><a [routerLink]="['#']" (click)="logout()">Logout</a></li>
            </ng-container>

        </ul>

        <div id="howdy" *ngIf="profileService.user">
            Hello, {{profileService.user.name}}
        </div>
    </div>
</header>