header{
    display: flex;
    align-items: center;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(49, 49, 49, .1);
    justify-content: space-between;
}
header #header-logo {
    display: flex;
}
header #header-logo img{
    max-height: 25px;
}
header #header-menu{
    display: flex;
    justify-content: end;
}
header #header-menu #menu{
    list-style: none;
}
header #header-menu #menu li{
    display: inline-block;
    margin: 0 5px;
}
header #header-menu #menu li a{
    color: #666;
    text-decoration: none;
}
header #header-menu #menu li a.active{
    color: #000;
    font-weight: 500;
}

header #header-menu #howdy{
    margin-left: 20px;
}