<footer>
    <div id="socialLinks">
        <ul class="links">
            <li><a href="https://www.facebook.com/nagarroinc/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/lifeatnagarro"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/nagarro"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div id="footerLinks">
        <ul class="links">
            <li><a href="https://www.nagarro.com/en/privacy-policy">Privacy Statement</a></li>
            <li><a href="https://www.nagarro.com/en/imprint">Imprint</a></li>
            <li><a href="https://www.nagarro.com/en/news-events">News and Events</a></li>
        </ul>
    </div>
</footer>